<div class="input-group flex flex-col gap-1 items-start w-full">
  @if (isLabel) {
    <label class="text-sm lg:text-base SF-Medium text-text-main tracking-tight">
    {{ label }}
    @if (required) {
      <span class="text-red-500">*</span>
    }
    </label>
  }

  <input
    [attr.minlength]="minLength"
    class="focus:outline-none text-text-main appearance-none -webkit-appearance-none rounded-lg border border-input-border bg-white py-2 px-3 lg:py-3 lg:px-4 w-full placeholder:text-[#94A3B8] placeholder:text-sm lg:placeholder:text-base SF-Regular"
    [placeholder]="placeholder"
    [type]="type"
    [value]="value"
    [required]="required"
    (input)="onInput($event)"
    (blur)="onTouched()"
    [disabled]="disabled"
  />
</div>
